body {
    background-color: white;
}

.repjegy-kep {
    max-width: 250px;
    max-height: 500px;
}
#indulas {
    color: rgb(255, 38, 0);
}
.stars {
    color: orange;
    font-size: 30px
}
.reggeli {
    font-size: 15px;
}
.szallas-nev {
    font-size: 20px;
}
.container {
    max-width: 1400px;
}
#szallas {
    text-align: center;
}
.repjegy-div {
    text-align: center;
}
