body {
    background-color: rgb(255, 242, 217);
}

.repjegy-kep {
    max-width: 250px;
    max-height: 500px;
    border: 3px solid rgb(73, 62, 13);
}
#indulas {
    color: rgb(255, 38, 0);
}
.stars {
    color: orange;
    font-size: 30px
}
.reggeli {
    font-size: 15px;
}
.szallas-nev {
    font-size: 20px;
}
.container {
    max-width: 1400px;
}
#szallas {
    text-align: center;
}
.repjegy-div {
    text-align: center;
}
.days {
    color: deeppink;
}
#uber-prices {
    margin-left: 52px;
}

.uber-kep{
   border: 5px solid rgb(73, 62, 13);
   border-radius: 50px;
}